<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!-- Adding clear removes connection strings used by Visual Studio as per Note in
		     https://learn.microsoft.com/en-us/dotnet/framework/data/adonet/connection-strings-and-configuration-files
		-->
		<clear/>
		<add name="Northwind"
		   providerName="System.Data.SqlClient"
		  connectionString="server=(local); integrated security=SSPI;database=Northwind" />
		<add name="AdventureWorks2022"
		   providerName="System.Data.SqlClient"
		  connectionString="server=(local); integrated security=SSPI;database=AdventureWorks2022" />
	</connectionStrings>
</configuration>